.navbar {
    background-color: #52CEFC;

}

.quem-somos {
    background-color: #c6ced1;
    color: #222222;
}

.margin {
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: #70919c;
}

.bg-footer {
    Background-color: black;
    color: white;
}